body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fafafa;
  color: #111;
}

header {
  background: #8A0F1A;
  color: white;
  padding: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 30px;
}

footer {
  background: #111;
  color: white;
  padding: 15px;
  text-align: center;
}
